<div class="row">
  <div class="span8">
    <form action="/convert" method="get" class="well form-inline">
      <p>
        <input type="text" name="url" id="page-url-input" placeholder="Page URL" class="span6" />
        <button type="submit" class="btn btn-primary btn-large" id="translate-submit">Translate!</button>
      </p>
    </form>
  </div>
</div>
